body{
  background: #EFECED;
}

.products{
  background-color: #FAFAFA;
}

.alert {
  display: inline-block !important;
  margin: 0 auto !important;
  width: 100%;
}

.card{
  box-shadow: 5px 5px 15px 5px #a3aaaf;
}

.product-details{
  display: flex;
  align-items: center;
  justify-content: center;
}

.back{
  margin-top: 20px !important;
}

li{
  margin: 0;
  padding: 0;
}
.product-container{
  width: 50% !important;
}

.menu a{
  color: white;
}

.nav-link{
  color: white !important;
}
@media(max-width: 767px){
  .product-container{
    width: 100% !important;
  }
  .products{
    width: 100% !important;
  }
}
